
body {
    background: linear-gradient(40deg, rgba(102,178,98,100%) 0%, rgba(176,215,174,100%) 100%);
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-repeat: no-repeat;
    background-size: cover;
}
.container {
    background-color: #fff;
    padding: 0px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 1045px;
    height: 541px;
    margin: 0px;
    overflow: hidden;
    display: flex;
    align-items: stretch;
  }

  .left {
    flex: 1;
    background: linear-gradient(180deg, rgba(102,178,98,1) 0%, rgba(176,215,174,1) 100%);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 541px;
    flex-direction: column;
    padding-top: 20px;
}

.left h1 {
    font-size: 50px;
    font-family: "Inter";
    color: white;
    text-decoration: underline;
}

.right {
    flex: 1;
    background: white;
}
.form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.texto1{
    font-size: 20px;
    font-family: "Inter";
    color: #B0D7AE;
    margin-bottom: 10px;
    text-align: left;
    width: 85%;
}
.email{
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 3px solid #B0D7AE;
    font-size: 20px;
    font-family: "Inter";
    color: #B0D7AE;
    margin-top: 10px;
    width: 85%;
}
.email::placeholder{
    color: #B0D7AE;
}

input[type="email"]:focus {
    outline: none;
    border-top: none;
    border-left: none;
   border-right: none;
    box-shadow: none; 
}
.texto2{
    font-size: 20px;
    font-family: "Inter";
    color: #B0D7AE;
    margin-bottom: 10px;
    text-align: left;
    width: 85%;
}
.senha{
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 3px solid #B0D7AE;
    font-size: 20px;
    font-family: "Inter";
    color: #B0D7AE;
    margin-top: 10px;
    width: 85%;
}
.senha::placeholder{
    color: #B0D7AE;
}

input[type="password"]:focus {
    outline: none;
    border-top: none;
    border-left: none;
   border-right: none;
    box-shadow: none; 
}
.botao {
    background: #B0D7AE;
    color: white;
    font-size: 20px;
    font-family: "Inter";
    border: none;
    border-radius: 15px;
    padding: 10px 30px;
    margin-top: 20px;
    cursor: pointer;
    display: block;
    width: 85%;
}
.botao:hover {
    background: #A0C7A0;
    transition: 0.5s;
}
img {
    width: 150px;
    height: 170px;
    margin-bottom: 20px;
}
.bola {
    position: fixed;
    border-radius: 50%;
    opacity: 0.6;
    z-index: -1; 
}

.bola1 {
    width: 500px;
    height: 500px;
    background-color: #9AC298; 
    top: 500px;
    left: -100px;
}

.bola2 {
    width: 300px;
    height: 300px;
    background-color: #8EBD8C; 
    top: -100px;
    right: -150px;
}
